{% extends "layout.njk" %} {% block content %}

<!-- Agregar un botón -->
<button id="my-Button">Haz clic Dentl aquí</button>
<div id="nonce-value">
  <p>El valor del nonce es: {{ nonce }}</p>
</div>

{% endblock %}
