{% extends "layout.njk" %} {% block content %}
<h1>Inicio</h1>

<!-- Agregar un botón -->
<button id="myButton">Haz clic aquí</button>
<div id="nonce-value">
  <p>El valor del nonce es: {{ nonce }}</p>
</div>

{% endblock %}
