<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      name="nonce"
      content="{{ nonce }}"
    />
    <title>{{ title }}</title>
  </head>
  <body>

      <div id="sidebar">
        <!-- Aquí van los <ul> con los links -->
      </div>
      <div class="sidebar-footer">© 2025 Tu App</div>
    </div>
    <nav id="navbar">
      <!-- Las rutas se cargarán dinámicamente aquí -->
    </nav>
    <!-- Menú de rutas dinámicas -->
    <div id="main">
      <!-- Aquí centramos el spinner -->
      <div id="content-area">
        {% block content %}
        <!-- Aquí irá el contenido dinámico -->

        {% endblock %}
      </div>
    
    <script
      type="module"
      nonce="{{ nonce }}"
      src="/{{ scriptPath }}"
    ></script>
  </body>
</html>
