{% extends "index.njk" %} {% block content %}

<ul id="userList"></ul>

<script type="module">
  fetch('/api/users')
    .then((res) => res.json())
    .then((users) => {
      console.log('users', users);
      users.forEach((user) => {
        const li = document.createElement('li');
        li.textContent = `${user.name} - ${user.age} años`;
        document.getElementById('userList').appendChild(li);
      });
    });
</script>
{% endblock %}
