<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{{ titulo }}</title>
  </head>
  <body>
    <h1>{{ mensaje }}</h1>
    <p>Este es un proyecto base con Express y Nunjucks 🚀</p>
  </body>
</html>
