<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <!-- Incluimos los scripts -->
    <script
      type="module"
      src="/js/init.js"
    ></script>
    <script
      type="module"
      src="/js/components/common/sidebar.js"
    ></script>
    <!-- Importamos el archivo sidebar.js -->
  </head>
  <body>
    <!-- Menú de rutas dinámicas -->
    <nav>
      <ul id="navbar">
        <!-- Las rutas se cargarán dinámicamente aquí -->
      </ul>
    </nav>

    <!-- Contenedor para el sidebar -->
    <div
      id="sidebar"
      class="sidebar"
    >
      <!-- El contenido del sidebar se cargará dinámicamente -->
    </div>

    <!-- Contenido dinámico -->
    <div
      id="content"
      class="contentMain"
    >
      {% block content %}
      <!-- Aquí irá el contenido dinámico -->
      {% endblock %}
    </div>
  </body>
</html>
