{% extends "layout.njk" %} {% block content %}
<h1>Iniciar Sesión</h1>
<p>Ruta: /login</p>

<!-- Este botón será manejado por el controlador login.js -->
<button id="my-Button">Iión</button>
{% endblock %}
