<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>

    <script
      type="module"
      src="/js/main.js"
      defer=""
    ></script>
    <link
      rel="stylesheet"
      href="/css/styles.css"
    />
    <!-- Importamos el archivo sidebar.js -->
  </head>
  <body>
    <div id="sidebar">
      <div class="sidebar-toolbar">Menú</div>
      <div class="sidebar-content">
        <!-- Aquí van los <ul> con los links -->
      </div>
      <div class="sidebar-footer">© 2025 Tu App</div>
    </div>
    <nav id="navbar">
      <!-- Las rutas se cargarán dinámicamente aquí -->
    </nav>
    <!-- Menú de rutas dinámicas -->
    <div id="main">
      <!-- Aquí centramos el spinner -->
      <div id="content">
        {% block content %}
        <!-- Aquí irá el contenido dinámico -->

        {% endblock %}
      </div>
      <footer id="footer"></footer>
    </div>
  </body>
</html>
